.log {
  text-align: center;
  padding: 1rem;
  border: 1px solid #ccc;
  margin: 1rem 4rem;
  border-radius: 0.7rem;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.8);
  height: 20rem;
}

.turn {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 22px;
}

.log ul {
  list-style: none;
  font-weight: 600;
}

.log ul li {
  margin: 5px;
}

.log ul .player-turn {
  color: hsl(240, 100%, 50%);
  background-color: hsl(231, 100%, 95%);
}

.log ul .monster-turn {
  color: hsl(0, 100%, 50%);
  background-color: hsl(359, 100%, 88%);
}
